.simpan{
		margin:0px 0px 0px 400px;
		background-color: blue;


}
.reset{
		margin:0px 0px 0px 300px;
		background-color: blue;


}
.kembali{
		margin:0px 0px 0px 200px;
		background-color: blue;


}
a{
		color: yellow;

}